</main>
<footer class="shadow">
    <div class="left">
        <p> Made by Milana Zhuhaievych</p>
        <p>October 2023</p>
    </div>
    <div class="right">
        <p>Contact information:</p>
        <p>Email : milana.zhug@gmail.com</p>
    </div>
</footer >
</body>
</html>