<% include partion/header %>
<hr>
<h1 class="titleH1">About our workshops</h1>
<h2 id="aboutH2">... and about us</h2>
<div class="container about">
    <div class="container_left">
        <p class="about_text first" >Welcome to Lagom, where we specialize in empowering real estate professionals through workshops focused on cutting-edge marketing strategies.<br>Our mission is to equip you with the knowledge and tools necessary to thrive in the dynamic landscape of real estate marketing.</p>
        <p class="about_text">Led by industry experts with years of experience, our workshops delve into the latest trends, innovative techniques, and proven methodologies tailored specifically for the real estate sphere. We believe in delivering practical insights that can be immediately applied to elevate your marketing endeavors.</p>
        <p class="about_text">At Lagom, we understand the pivotal role marketing plays in the success of real estate professionals. Our workshops are designed to cover diverse facets of marketing, including digital marketing, social media strategies, branding, and effective client engagement.</p>
    
    </div>
    <div class="container_right">
        <img src="/images/team.png" id="about_image">
        <p class="about_text first">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        
    </div>
</div>
<% include partion/footer %>