<% include partion/header %>
<hr>
<h1 class="titleH1">Answers on frequently asked questions</h1>
<div class="container">
    <div class="container_left questions">
        <img src="/images/faq.jpg" width="100%">
    
    </div>
    <div class="container_right questions"     flex-direction= "column">
        <details class="question">
            <summary>What topics are covered in your real estate marketing workshops?</summary>
            <div>
                <p>Our workshops cover a wide range of topics crucial for successful real estate marketing, including digital marketing strategies, social media tactics, branding essentials, client engagement techniques, and leveraging innovative technologies in the real estate sphere.</p>
            </div>
        </details>
        <details class="question">
            <summary>Are these workshops suitable for beginners or experienced professionals ?</summary>
            <div>
                <p>Our workshops cater to individuals at all levels of expertise, from newcomers to seasoned professionals. We tailor our content to provide actionable insights suitable for diverse skill sets.</p>
            </div>
        </details>
        <details class="question">
            <summary>How long are the workshops, and what is the format?</summary>
            <div>
                <p>Workshop durations vary depending on the specific program. They typically range from half-day sessions to multi-day comprehensive programs. We utilize a blend of presentations, interactive discussions, case studies, and practical exercises to ensure an engaging and impactful learning experience.</p>
            </div>
        </details>
        <details class="question">
            <summary>Do you offer any certifications or credits upon completion of the workshop?</summary>
            <div>
                <p>Yes, upon successful completion of our workshops, participants receive a certificate of attendance or completion, highlighting the skills and knowledge gained during the program.</p>
            </div>
        </details>
        <details class="question">
            <summary>Can I attend the workshops online, or are they conducted in-person only?</summary>
            <div>
                <p>We offer both online and in-person workshop options to accommodate diverse preferences and geographical locations. Participants can choose the format that best suits their needs.</p>
            </div>
        </details>
        <details class="question">
            <summary>Do you offer group discounts for multiple attendees from the same organization?</summary>
            <div>
                <p>Yes, we offer special group discounts and customized corporate packages for organizations sending multiple attendees to our workshops. Please contact our team for more information on group rates and tailored packages.</p>
            </div>
        </details>
        
    </div>
</div>
<% include partion/footer %>