<% include partion/header %>
  <main>
    <img src="images/header.png" alt="main page wallpaper" class="page_header shadow" />
    <div class="h1_div">
      <h1>Estate marketing workshops</h1>
    </div>
    <div class="greating">
      <div class="agent_image">
        <img src="images/agent.png" alt="Real estate agent" class="agent" />
      </div>
      <div class="greating_text">
        <p>
          First real estate<br />
          marketing workshop<br /><span>in Ireland</span>
        </p>
        <a href="/about">
          <div class="about_button">
            <p id="learnAbout">Learn more about workshops</p>
          </div>
        </a>
      </div>
    </div>
    <hr />
      <h2>Our workshop topics</h2>
      <div class="workshops card_row">
        <div class="workshops card_column">
          <div class="workshops card">
            <img src="images/inst.png" alt="Instagram" class="workshop_image" />
            <h3>Instagram promotion</h3>
            <p>
              Learn how to create, fill and maintain instagram page for your real estate company in several hours!
            </p>
          </div>
        </div>
        <div class="workshops card_column">
          <div class="workshops card">
            <img src="images/tiktok.jpg" alt="tiktok" class="workshop_image" />
            <h3>Ultimate TikTok Feed</h3>
            <p>
              Fast and easy promotion of your company with our new ultimate tiktok feed workshop.
            </p>
          </div>
        </div>
        <div class="workshops card_column">
          <div class="workshops card">
            <img src="images/newpaper.jpg" alt="newspaper" class="workshop_image" />
            <h3>Cathing post</h3>
            <p>
              Find out how to catch that client with interesting posts.
            </p>
          </div>
        </div>
      </div>
    </div>
      <div class="button book_button">
        <a href="/booking/create">
          <p>Book now!</p>
        </a>
      </div>
    
<% include partion/footer %>