<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="icon" href="/images/icon_small.png" />
</head>

<body>
  <hr>
  <div class="container">
    <div class="container_left">
      <img src="/images/happy.jpg">
    </div>
    <div class="container_right" id="success">
      <h2 id="formH2">Booking succsesful!</h2>
      <h3>Thank you for booking our workshop. We will contact you soon.</h3>
         <div class="button mainpage_button">
          <a href="/">
            <p>Main page</p>
          </a>
        </div>
        <div class="button all_bookings_button">
          <a href="all_bookings" target="_blank">
            <p>View all bookings</p>
          </a>
        </div>
    </div>
  </div>
  <hr>
</body>

</html>